@model Project.Core.Entities.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/validationsummary.css" rel="stylesheet" />
<div class="row">
    <div class="text-center col-md-10 ">
        <h4><i class="glyphicon glyphicon-edit" aria-hidden="true"></i> Kategori Düzenle </h4>
        <br />
        <hr />
        <br />
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8 text-right">
                            <button type="submit" class="btn btn-success" onclick="return confirm('Kaydetmek istediğinize emin misiniz')">
                                <span class="glyphicon glyphicon-save"> Kaydet</span>
                            </button>
                            <a href="/Categories/Index" class="btn btn-default" title="Kategori Sayfası">
                                <span class="glyphicon glyphicon-arrow-left"> Geri Dön</span>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
